* {
    font-family: Arial, Helvetica, sans-serif;
}
.data {
    display: block;
    margin: 10px 0px;
    font-size: 18px;
}
.title {
    text-align: center;
    background-image: url(../img/seta-banco.jpg);
    padding: 10px 10px;
    color: white;
}
.data-form {
    margin-left: 560px;
}
.enter {
    margin-top: 15px;
    display: block;
    font-size: 18px;
    padding: 5px 73px;

}